@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');

* {
    box-sizing: border-box;
    transition: all 125ms ease;
    outline: none;
}



body {
    min-block-size: 100vh;
    margin: 0;
    scroll-behavior: smooth;
    font-family: Manrope;

    background-color: #000000a4;
    background-blend-mode: multiply;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    display: grid;
    place-items: center;

    transition: all 250ms ease-in-out;
}



h3 {
    margin-block: 5px;
    span {
        color: #d8d8d8;
    }
}



.center {
    display: flex;
    justify-content: center;
}



#background-change {
    position: fixed;
    top: 0;
    left: 0;
}

#background-change i,
#info, #discord, #reddit {
    background: #00000051;
    font-size: 1.5em;
    padding: 0.5em;
    color: #dcddde;
    cursor: pointer;
    aspect-ratio: 1;
    height: 2em;
}

#background-change i:focus+#pics,
#pics:hover {
    display: flex;
}

#pics {
    display: none;
    flex-direction: column;
    overflow: hidden;
}

#pics img {
    background-color: #28378d;
    border-radius: 50%;
    cursor: pointer;
    margin: 0.15em;
}



#container {
    background-color: #a897779d;
    padding: 3em;
    border-radius: 10px;
    max-width: calc(900px + 6em);
}



input[type="radio"],
input[type="checkbox"] {
    display: none;
}

label:has(input:not(:checked)) img {
    filter: grayscale(.7);
}



#ults {
    display: grid;
    grid-template-columns: 5em 5em 5em;

    label {
        position: relative;
        cursor: pointer;
    }

    label:has(input[type="radio"]:checked) img {
        border: 8px #28378d solid;
    }

    span {
        text-align: center;
    }

    img {
        height: 4em;
        aspect-ratio: 1;
        margin: 0 0.5em;

        border: 4px #313862 solid;
        border-radius: 4px
    }
}

.fa-solid.fa-check {
    position: absolute;
    top: calc(0em + 8px);
    right: calc(0.5em + 8px);
    color: #dcddde;
    z-index: 99;
    background-color: #313862aa;
    padding: 5px;
    border-bottom-left-radius: 5px;

    display: none;
}



.items {
    display: flex;
    align-items: center;

    img {
        width: 4em;
        height: 4em;
        border-radius: 100%;
        border: 2px #313862 solid;
        cursor: pointer;
        margin: 20px 0 0 0;
    }
}

label:has(input[type="checkbox"]:checked) img {
    border: 6px #28378d solid !important;
}

select {
    margin-top: 15px;

    -webkit-appearance: none;
    appearance: none;

    text-indent: 0.01px;
    text-overflow: "";

    border: none;
    padding: 7px 27px 7px 10px;
    background: #ddd url(http://new.mitoo.co/assets/to_be_sorted/arrow_down.png) no-repeat 90% 50%;
}



.hp-inputs {
    display: flex;
    gap: 20px;
}

input[type="range"] {
    width: 100%;
    margin: 0;
    padding: 0;
}

input[type="number"] {
    width: 11ch;
    color: #026d0b;
    font-weight: bolder;
    font-size: 1.5em;
    padding-block: 0.25em;
}



button {
    background: linear-gradient(-45deg, #107AB0, #313862);
    padding: 10px 20px;
    border: none;
    border-radius: 21px;
    outline: none;
    overflow: hidden;
    color: #FFF;
    font-size: 28px;
    cursor: pointer;
    text-decoration: none;
    margin-block: 0.75em;
}

button:hover {
    animation: press 0.5s ease;
}

button:active {
    scale: 0.90;
}

@keyframes press {
    50% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(0px);
    }
}



p {
    font-size: 1.75em;
    margin: 0;
    text-align: center;

    span {
        color: #9d0000;
    }
}



.hp-bar {
    width: 200px;
    height: 30px;
    border: 1px solid #4d4a46;
    overflow: hidden;
    margin-top: 1em;
}

.hp-bar::-webkit-progress-value {
    background: linear-gradient(#c17a70, #a2261f, #551a17);
}

.hp-bar::-webkit-progress-bar {
    background-color: #0d0d0b;
}

#last {
    margin-block: 1em 4em;
}

.flex {
    display: flex;
    gap: 10px;
}

a {
    text-decoration: none;
}

#info, #discord, #reddit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
}

#info {
    --bg: #026d0b;
    background-color: color-mix(in srgb, var(--bg), #00000051 30%);
}

#discord {
    --bg: #5865f2;
    background-color: color-mix(in srgb, var(--bg), #00000051 30%);
}

#reddit {
    --bg: #FF5700;
    background-color: color-mix(in srgb, var(--bg), #00000051 30%);
}

#discord:hover, #reddit:hover, #info:hover{
    background-color: var(--bg);
}


@media screen and (min-width: 875px) {
    #big-screen-flex {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }
}



dialog {
    background-color: #a89777;
    position: relative;
}

dialog::backdrop {
    backdrop-filter: blur(5px);
}

span.close {
    position: absolute;
    top: 0.40em;
    right: 0;
    color: #9b0f0f;
    font-size: 5em;
    cursor: pointer;
    height: 0.5em;
    display: flex;
    align-items: flex-end;
}

.i {
    font-size: 1.25em;
    color: #dcddde;
}