@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');

* {
    box-sizing: border-box;
    transition: all 125ms ease;
}

body {
    min-block-size: 100vh;
    margin: 0;
    scroll-behavior: smooth;
    font-family: Manrope;

    background-color: #00000051;
    background-blend-mode: multiply;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    display: grid;
    place-items: center;

    transition: all 250ms ease-in-out;
}

#container {
    background-color: #a89777a0;
    padding: 3em;
    border-radius: 10px;
    display: grid;
    place-items: center;
    max-width: calc(900px + 6em);
}

#ranks-display {
    display: flex;
    justify-content: space-around;
    text-align: center;

    span {
        margin-inline: 2em;
    }
}

header {
    display: flex;
    justify-content: space-around;

    label {
        position: relative;
        cursor: pointer;
    }

    img {
        height: 5em;
        aspect-ratio: 1;
        margin: 1em;

        border: 4px #313862 solid;
        border-radius: 4px
    }
}

input[type="radio"], input[type="checkbox"] {
    display: none;
}

label:has(input[type="radio"]:checked) img {
    border: 8px #107AB0 solid;
}

.fa-solid.fa-check {
    position: absolute;
    top: calc(1.1em + 8px);
    right: calc(1.1em + 8px);
    color: #dcddde;
    z-index: 99;
    background-color: #313862aa;
    padding: 5px;
    border-bottom-left-radius: 5px;

    display: none;
}

p {
    font-size: 1.75em;

    span {
        color: #9b0f0f;
    }
}

button {
    background: linear-gradient(-45deg, #107AB0, #313862);
    padding: 10px 20px;
    border: none;
    border-radius: 21px;
    outline: none;
    overflow: hidden;
    color: #FFF;
    font-size: 28px;
    cursor: pointer;
    text-decoration: none;
}

button:hover {
    animation: press 0.5s ease;
}

button:active {
    scale: 0.90;
}

@keyframes press {
    50% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(0px);
    }
}

.i {
    justify-self: self-start;
    font-size: 0.75em;
    font-style: italic;
}

#input-modifiers {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

    img {
        width: 4em;
        height: 4em;
        margin: 1em;
        border-radius: 100%;
        border: 2px #313862 solid;
        cursor: pointer;
    }
}

input {
    outline-color: #313862;
    margin: 1em;
    color: #026d0b;
    font-weight: bolder;
    font-size: 1.5em;
    padding-block: 0.5em;
}

input[type="range"] {
    width: 100%;
}

input[type="number"] {
    width: 10ch;
}

label:has(input[type="checkbox"]:checked) img {
    border: 6px #107AB0 solid !important;
}

#background-change {
    position: absolute;
    top: 0;
    left: 0;
}

#background-change i {
    background: #00000051;
    font-size: 1.5em;
    padding: 0.5em;
    color: #dcddde;
    cursor: pointer;
}

#background-change i:focus + #pics,
#pics:hover {
    display: flex;
}

#pics {
    display: none;
    flex-direction: column;
    overflow: hidden;
}

#pics img {
    background-color: #313862;
    border-radius: 50%;
    cursor: pointer;
    margin: 0.15em;
}


label:has(input:not(:checked)) img {
    filter: grayscale(.7);
}
