---
import "../styles/global.css";

export interface Props {
	title?: string;
	description?: string;
}

const {
	title = "Garen Ultimate Calculator",
	description = "Calculate Garen's ultimate damage with items, runes, and enemy stats",
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<link
			rel="icon"
			type="image/x-icon"
			href={`${import.meta.env.BASE_URL}/favicon.ico`}
		/>
		<title>{title}</title>
		<meta name="description" content={description} />
	</head>
	<body>
		<slot />
	</body>
</html>
